.page-header {
  background: $off-white;
  margin-bottom: $l-spacing;
  padding: $l-spacing 0;
}

.page-header__actions {
  display: flex;
  justify-content: flex-end;
  margin-top: $m-spacing;
}

.page-header__title {
  font-weight: 300;
  margin: 0;
  //span {
  //  font-weight: 700;
  //}
}
