.table-header {
  background: $off-white;
  border: 1px solid darken($off-white, 7%);
  padding: $s-spacing $m-spacing;
}

.table-header__title {
  color: $grey;
  font-size: $l-font;
}

.table-body {
  margin-bottom: $m-spacing;
  @media (min-width: $desktop-breakpoint) {
    margin-bottom: $l-spacing;
  }
}

.table-item {
  border: 1px solid darken($off-white, 7%);
  border-top: none;

  display: flex;
  flex-direction: column;
  padding: $s-spacing;
  transition: background .3s ease;
  &:hover {
    background: $off-white;
  }
  @media (min-width: $desktop-breakpoint) {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: $m-spacing;
  }
}
 .table-cell {
   color: $dark-grey;
   text-decoration: none;
 }

.table-item--message {
  align-items: center;
  color: $grey;
  justify-content: center;
  padding: $m-spacing;
  &:hover {
    background: none;
  }
}

.table-item__title {
  margin: 0;
  word-break: break-all;
}


.table-item__data {
  margin: $s-spacing 0 0 0;
  @media (min-width: $desktop-breakpoint) {
    margin: 0;
    padding-left: $s-spacing;
  }
}
