* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%
}

body {
  margin: 0;
  color: $dark-grey;
  font-size: $m-spacing;
  line-height: 1.6;
  font-family: -apple-system, Helvetica, Arial, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
  font-size: 1.6rem;

}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

//.active {
//  font-weight: bold;
//}